/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.content {
    flex: 1; /* Pushes footer to the bottom */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
}

/* Main Content Styles */
main {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    margin-top: 0;
}

p {
    margin: 0 0 10px 0;
}

/* Button Styles */
button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #0056b3;
}

/* Footer Styles */
footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Position should be relative or static for proper layout */
    width: 100%;
}

footer p {
    margin: 0;
}

/* Profile Page Styles */
.profile-info {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    margin-top: 0;
}

.favorite-restaurants {
    list-style: none;
    padding: 0;
}

.favorite-restaurants li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
